<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Planner Demo</title>
  </head>
<body>
<p>Error: {{{error}}}</p>

<p>Correct the config file and refresh the page</p>
</body>
</html>